{% extends "layout.html" %}
{% load static %}
{% block tienda %}

 

  <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                                {% else %}
                                    <img src="{% static 'no-image.png' %}" class="card-img-top" alt="Sin imagen">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ producto.nombre }}</h5>
                                    <p class="card-text">${{ producto.precio }}</p>
                                    <p class="card-text">Stock: {{ producto.stock }}</p>

                                    <p class="card-text">
                                    Cantidad en carrito: <span class="cantidad-en-carrito" data-id="{{ producto.id }}">0</span>
                                    </p>

                                        <input type="hidden" class="verid" value="{{ producto.id }}">
                                        <input type="hidden" class="vervalor" value="{{ producto.cantidad }}">


    
                                        <button type="button" class="btn btn-primary agregar">Agregar</button>
                                        <button type="button" class="btn btn-danger eliminar">Borrar</button>

                                        {% if es_staff %}
                                            <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning">Modificar</a>
                                        {% endif %}

                                  </div>

                            </div>
  

      
{% endblock %}

