{% extends "base.html" %}
{% load i18n %}

    {% block content %} 
    <nav class="navbar navbar-expand-lg mi-nav">
        <div class="container-fluid d-flex justify-content-between align-items-center">
      
          <!-- Logo -->
          <a class="navbar-brand d-flex align-items-center logo" href="{% url 'index' %}">
            <img src="http://127.0.0.1:8000/media/producto/2025/02/15/logo1.png" alt="Logo GramiSys" width="60" height="60">
          </a>
          <p class="eslogan">Tu mercado de confianza</p>
          <!-- Buscador centrado -->
          <form class="buscador-centrado" role="search">
            <input class="form-control me-2" type="search" placeholder="¿Qué queres comprar hoy?">
            <button class=" boton-buscar" type="submit">Buscar</button>
          </form>
      
        </div>
        
         
       
      </nav>
  

 

  <!-- menu con lo que indica el profe modulo 1 nivel intermedio cargar producto y contacto ACA ARRIBA IBA EL INGRESAR CON EL IF-->




  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Opciones de sitio
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="{% url 'cargar' %}">Cargar producto</a></li>
      <li><a class="dropdown-item" href="{% url 'contacto' %}">Contacto</a></li>
    </ul>
  </div>

  <!-- menu con lo que indica el profe modulo 2 nivel intermedio FILTERS Y TEMPLATETAGS-->

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      templatetags y filters
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="{% url 'templatetags1' %}">templatetags</a></li>
      <li><a class="dropdown-item" href="{% url 'contacto' %}">Contacto</a></li>
    </ul>
  </div>

  <!-- menu con lo que indica el profe modulo 3 SIGNALS-->

   <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      signals
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="{% url 'login' %}">login</a></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
      <li><a class="dropdown-item" href="{% url 'registro' %}">Registro</a></li>
    </ul>
  </div>

 
  <!-- menu con lo que indica el profe modulo localstorage -->

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      LocalStorage
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="{% url 'ejemplo_localstorage' %}">Localstoge</a></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
      <li><a class="dropdown-item" href="{% url 'registro' %}">Registro</a></li>
    </ul>
  </div>

  <!-- menu con categorias -->
  <div class="dropdown-center menu-categorias d-flex flex-wrap justify-content-center gap-3 ">
    {% for categoria in categorias %}
      <div class="btn-group" role="group">
        <button type="button" class="btn botondes dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {{ categoria.nombre }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item fw-bold nombre-categoria" href="{% url 'productos_por_categoria' categoria.id %}">
              Ver {{ categoria.nombre }}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          {% for producto in categoria.producto_set.all %}
            <li>
              <a class="dropdown-item" href="{% url 'detalle_producto' producto.id %}">{{ producto.sub_categoria }}</a>
            </li>
          {% empty %}
            <li><span class="dropdown-item">Sin productos</span></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
  


  
  
    {% block contenedor %}{% endblock %}
    {% block contacto %}{% endblock %}
    {% block usuarios %}{% endblock %}
    {% block tienda %}{% endblock %}

    {% endblock %}


 

    

