{% extends "layout.html" %}
{% load static %}
 


{% block contenedor %}

<!-- Esto puede quedar -->
<div class="container mt-5 text-center">
  <h1 class="tituloPrincipal">Bienvenido al SuperMarket</h1>
</div>



  <div id="carrusel-ofertas" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carrusel-ofertas" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carrusel-ofertas" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carrusel-ofertas" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carrusel-ofertas" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>


    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="http://127.0.0.1:8000/media/producto/2025/02/15/carrusel1.jpg" class="d-block  img-carrusel" alt="dulcedeleche">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>

      <div class="carousel-item">
        <img src="http://127.0.0.1:8000/media/producto/2025/02/15/carrusel2.jpg" class="d-block  img-carrusel2" alt="pataymuslo">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      
      <div class="carousel-item">
        <img src="/media/producto/2025/02/15/carrusel3.jpg" class="d-block  img-carrusel3" alt="...">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>

      <div class="carousel-item">
        <img src="http://127.0.0.1:8000/media/producto/2025/02/15/carrusel4.jpg" class="d-block img-carrusel4" alt="...">
        <div class="carousel-caption d-none d-md-block"></div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-ofertas" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carrusel-ofertas" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>   



  <div class="container mt-5">
    <div class="row">
      
      <!-- Panel de Categorías -->
      <div class="col-md-3">
        <h4 class="titulo-categorias">Categorías</h4>
        <ul class="list-group lista">
          {% for categoria in categorias %}
            <li class="list-group-item ">
              <a href="{% url 'productos_por_categoria' categoria.id %}">
                {{ categoria.nombre }} ({{ categoria.total_productos }})
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- Productos -->
      <div class="col-md-9 d-flex flex-column align-items-center">
        <h1 class="titulo-ofertas text-center">¡Ofertas exclusivas para vos!</h1>
        <div class="row justify-content-center w-100"></div>



<!-- todo esto es para tomar info del DOM Y CONTROLARLO CON UN CONTROL SECUNDARIO EN LA BD LOCALSTORAGE PARA MANEJAR VARIABLES-->

        <div class="container-fluid mt-5">
          <div class="row">
            {% if productos %}
              {% for producto in productos %}
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card mb-4 shadow-sm card-producto">
                    <div class="card-img-top d-flex align-items-center justify-content-center" style="background: #fff; height: 200px;">
                      {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"
                           style="max-width: 100%; max-height: 100%; object-fit: contain; background: #fff; display: block; margin: auto;">
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ producto.nombre }}</h5>
                      <p class="card-text">${{ producto.precio }}</p>                      
                      <p class="card-text">
                        Cantidad: <span class="cantidad-en-carrito" data-id="{{ producto.id }}">0</span>
                      </p>
                      <input type="hidden" class="verid" value="{{ producto.id }}">
                      <input type="hidden" class="vervalor" value="{{ producto.cantidad }}">
                      <button type="button" class="btn btn-warning agregar">➕</button>
                      <button type="button" class="btn btn-warning eliminar">➖</button>
                      {% if es_staff %}
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning">✏️</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="col-12">
                <p>No hay productos en esta categoría.</p>
              </div>
            {% endif %}
          </div>
        </div>
 </div>
  </div>
   </div>
    </div>
{% endblock %}




{% block scripts %}
<!-- Cargar jQuery desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Cargar plugin de cookies que depende de jQuery -->
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- Tu script personalizado -->
<script type="text/javascript">

/*jslint browser: true*/
/*jslint plusplus: true*/
/*global FormData: false */
/*global $, jQuery, alert, console*/
/*...........................................................................
...................
... PARA VALIDAR LOS DATOS
.....................................................
.............................................................................
................*/
var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
 "use strict";
 return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


// esta funcion es para agregar un producto al localStorage

function AgregarI(cada_producto_id, valor) {
    "use strict";
    console.log(cada_producto_id, valor)
    $.ajax({
        beforeSend : function(xhr, settings) { //
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },

        url : "/tienda/agregar/",
        type : "GET",
        data : { cada_producto_id:cada_producto_id, valor:valor},
        success : function(json) {
            console.log(json[0].idproducto.toString());
            console.log(json[0].cantidad.toString());
                    localStorage.setItem(json[0].idproducto.toString(),
json[0].cantidad.toString());
         //location.reload();
        console.log("ok++++++++++++++++++++++++");
        },
        error : function (xhr, errmsg, err) {
            console.log('Error en carga de respuesta');
        }
        });
}



$('.agregar').click(function (event) { //accedo al objeto del dom agregar/classe en html para manejar el click
 "use strict"; //preguntar para que sirve
    event.preventDefault(); // Evita la prppagacion de eventos no entiendo
    let cada_producto_id = $(this).parent().find('.verid').val(); 
    let valor = $(this).parent().find('.vervalor').val();
    console.log(cada_producto_id);
    console.log(valor);




 //PASO 1: Remuevo todo item que no inicia con utn_
    console.log(JSON.stringify(localStorage)); // verifico que no haya nada en localStorage
    let i;
    for(i = 0; i < localStorage.length; i++){
        let clave_eliminar = localStorage.key(i);
        console.log("bbbbbbbb");
        console.log(typeof clave_eliminar); 
        console.log(clave_eliminar);

      //  if(!clave_eliminar.startsWith("utn_")){ //si no empieza con utn_ lo elimino
        //    console.log("retorna NO verdadero !!!!!!!!!!!!!");
            //localStorage.removeItem(clave_eliminar);
          //  console.log("retorna NO verdadero !!!!!!!!!!!!!");
// }
 }
 //PASO 2: Si es la primera vez que se agrega un producto a localStorage, le asigno el valor de 1

 //Si ya existia un valor en la base tomo ese valor en lugar de 1
    for(i = 0; i < localStorage.length; i++){
        let clave = localStorage.key(i);
        let el_valor = localStorage[clave];
        if(clave == cada_producto_id){
            console.log("-----1112------");
            console.log(clave);
            console.log(valor);
            valor = el_valor;
            console.log("-----1112------");
        }else{
            console.log("no hay coincidenciaaaa");
        }
 }

AgregarI(cada_producto_id, valor);


}); 




</script>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Observer.min.js"></script>
<script>
  gsap.to(".slide__heading", { y: -20, duration: 1, repeat: -1, yoyo: true });
</script>

{% endblock %}
