{% extends "layout.html" %}
{% load static %}



{% block contenedor %}
<div class="container mt-5">
    <h1>Productos en "{{ categoria_actual }}"</h1>

    <div class="row">
        <a href="{% url 'index' %}">Ir a inicio</a>

        {% if productos %}
            {% for producto in productos %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                        {% else %}
                            <img src="{% static 'no-image.png' %}" class="card-img-top" alt="Sin imagen">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">${{ producto.precio }}</p>
                            <p class="card-text">Stock: {{ producto.stock }}</p>
                            <a href="#" class="btn btn-primary">Añadir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No hay productos en esta categoría.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
